.categorybutton {
    justify-content: center;
    display: inline-block;
    border-radius: 6px;
    background: #46d0e2;
    margin-top: 20px;
    padding: 20px 32px;
    color: #000000;
    outline: none;
    border: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 24px;
    width: 200px;
}