
.hs {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: minmax(150px, 3fr);
    padding: 0 20px;
    overflow-y: hidden;
  }
  
  .item {
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(117, 170, 231);
    border-radius: 8px;
    height: 630px;
  }
  .hs > li:last-child {
    margin-right: 20px;
  }
  
  .posttitle {
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
  }

  .postdate {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  .postbody {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
  }

  .recommend {
    margin-right: 10px;
    text-align: right;

  }

  .sidebyside { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
    width: 100%; 
} 

.commentbutton {
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: #637274;
  margin-top: 20px;
  padding: 20px 32px;
  color: #000000;
  outline: none;
  border: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
  bottom: 0;
  margin-bottom: 10px;
  right: 0;
  margin-right: 20px;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.deletebutton {
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: #ff0000;
  margin-top: 20px;
  padding: 20px 32px;
  color: #000000;
  outline: none;
  border: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
  bottom: 0;
  margin-bottom: 10px;
  left: 0;
  margin-right: 20px;
}

.editbutton {
  position: absolute;
  height: 1px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: #ecee79;
  margin-top: 20px;
  padding: 20px 32px;
  color: #000000;
  outline: none;
  border: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 175px;
  bottom: 0;
  margin-bottom: 10px;
  left: 0;
  margin-right: 20px;
}

.favouritebutton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  right: 0;
  margin-top: 10px;
}

.shrink {
  height:40px;
}